<form action="/coords-to-weather/results">
  <div>
    <label for="Latitude">Latitude</label>
    <input type="text" name="user_latitude" id="Latitude" placeholder="41">
  </div>
  <div>
    <label for="Longitude">Longitude</label>
    <input type="text" id="Longitude" name="user_longitude" placeholder="-87">
  </div>
  <button>Lookup Weather!</button>
</form>
